<div class="sub-title mb-3">
  Marca dentro del área elegida, la categoría y subcategoria que correspondan *
</div>

<div class="card mb-3">
  <div class="card-body p-0">
    <div class="row">
      <!-- Categorias-->
      <div class="col-md-7" [ngClass]="{ 'border-categoria': categoria != '' }">
        <ul class="list-group list-group-flush py-2">
          <li
            *ngFor="let c of categorias"
            (click)="seleccionarCategoria(c.titulo)"
            class="list-group-item text-muted cursor"
            [ngClass]="{
              'card-active text-white': categoria == c.titulo,
              'text-muted': categoria != c.titulo
            }"
            [ngStyle]="{
              'background-color':
                categoria == c.titulo ? especialidad.color : ''
            }"
          >
            {{ c.titulo }}
          </li>
        </ul>
      </div>
      <!-- Sub-Categorias-->
      <div class="col-md-5 pl-0">
        <ul *ngIf="categoria != ''" class="list-group list-group-flush py-2 animate__animated animate__fadeIn">
          <li
            *ngFor="let sc of subCategorias"
            (click)="subCategoria = sc.titulo"
            class="list-group-item text-muted cursor"
            [ngClass]="{
              'card-active text-white': subCategoria == sc.titulo,
              'text-muted': subCategoria != sc.titulo
            }"
            [ngStyle]="{
              'background-color':
                subCategoria == sc.titulo ? especialidad.color : ''
            }"
          >
            {{ sc.titulo }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-habilidades
  [color]="especialidad.color"
></app-habilidades>

