<footer>
    <div class="credit mb-1 px-3">
      <div>
        <span class="mt-1" style="font-size: 14px;">
          <a class="text-white" href="https://www.linkedin.com/in/miguel-angel-manosalva-iraira-a3a94ba5/" target="_blank">
            Miguel Manosalva
          </a>
        </span>
        <span class="mx-2 text-white">
          <a class="text-white" href="https://github.com/MiguelManosalva/appRombusGlobal" target="_blank">
            <i class="fa fa-github mr-2 mt-1" aria-hidden="true"></i>
          </a>
          <a class="text-white" href="https://www.linkedin.com/in/miguel-angel-manosalva-iraira-a3a94ba5/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </span>
    </div></div>
</footer>
