<nav class="navbar navbar-expand-lg bg-rombus row px-5 py-3">
    <a class="col-3 navbar-brand" href="#">
      <img src="./assets/images/logo.svg" width="250" alt="" loading="lazy" />
    </a>

    <div class="col-9 navbar-rombus collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#">
          Soluciones
        </a>
        <a class="nav-item nav-link" href="#">
          Staff
        </a>
        <a class="nav-item nav-link" href="#">
          Blog
        </a>
        <a class="nav-item nav-link" href="#">
            <button type="button" class="btn btn-nav-rombus py-3 px-4">Publicar proyecto</button>
        </a>
        <a class="nav-item nav-link my-auto ml-4" href="#">
            <img src="./assets/images/profile.png" width="50" alt="" loading="lazy" />
          </a>
      </div>
    </div>
</nav>
