<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9 d-flex">
      
      <div class="title mb-3">
          Resumen del Proyecto
        </div>
        <button
        type="button"
        (click)="terminar()"
        class="btn btn-lg btn-rombus d-block ml-auto"
        style="padding: 0.8rem 2rem; background-color: #f39a18;"
        >
        ¡ENVIAR AHORA!
    </button>
    <i class="fa fa-pencil edit-wizard vh"  aria-hidden="true" ></i>
  </div>

  <div class="col-12 mb-4"></div>

  <!-- DEFINICIÓN -->
  <div class="col-md-3">
    <app-step [step]="{ wizard: '1', titulo: 'Definición' }"></app-step>
  </div>
  <div class="col-md-9">
    <i class="fa fa-pencil edit-wizard" [routerLink]="['/definicion']" aria-hidden="true" ></i>
    <div class="card shadow mb-3">
      <div class="card-body" style="padding: 1rem;">
        <div class="title-card">
          {{ _storage.state.wizard1.titulo }}
        </div>
      </div>
      <hr class="m-0" />
      <div class="card-body">
        <div class="sub-title-2">
          {{ _storage.state.wizard1.descripcion }}
        </div>
      </div>
    </div>
  </div>

  <!-- ESPECIALIDAD -->
  <div class="col-md-3">
    <app-step [step]="{ wizard: '2', titulo: 'Especialidad' }"></app-step>
  </div>
  <div class="col-md-9">
    <i class="fa fa-pencil edit-wizard" [routerLink]="['/especialidad']" aria-hidden="true" ></i>
    <div
      class="card shadow mb-3 text-white"
      [ngStyle]="{
        'background-color': _storage.state.wizard2.especialidad.color
      }"
    >
      <div class="card-body" style="padding: 1rem;">
        <div class="title-card">
          {{ _storage.state.wizard2.categoria }}
        </div>
      </div>
      <hr class="m-0" style="background-color: #fff;" />
      <div class="card-body">
        <div class="sub-title-bold">
          {{ _storage.state.wizard2.subCategoria }}
        </div>
      </div>
    </div>
  </div>

  <!-- ADICIONALES -->
  <div class="col-md-3">
    <app-step [step]="{ wizard: '3', titulo: 'Adicionales' }"></app-step>
  </div>
  <div class="col-md-9">
    <i class="fa fa-pencil edit-wizard" [routerLink]="['/datos-adicionales']" aria-hidden="true" ></i>
    <div class="card shadow mb-2">
      <div class="card-body">
        <div class="sub-title-2">
          {{ _storage.state.wizard3.comentario }}
        </div>
      </div>
    </div>
    <span class="text-file-view d-block mb-3">
      Archivo adjunto:
      <span style="font-weight: 300;">{{
        _storage.state.wizard3.archivo.nombre
      }}</span>
    </span>
  </div>

  <!-- CONDICIONES -->
  <div class="col-md-3">
    <app-step [step]="{ wizard: '4', titulo: 'Condiciones' }"></app-step>
  </div>
  <div class="col-md-9">
    <i class="fa fa-pencil edit-wizard" [routerLink]="['/tipo-presentacion']" aria-hidden="true" ></i>

    <app-condiciones [wizard4]="_storage.state.wizard4"></app-condiciones>

    <!-- presupuesto  -->
    <div class="row mb-3">

      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <i class="fa fa-pencil edit-wizard vh" aria-hidden="true" ></i>

        <div class="form-group">

          <span class="text-file-view d-block">
            Tu presupuesto
          </span>
          <div class="form-group mb-0 d-flex">
            <div>
              <input
                type="text"
                class="form-control"
                maxlength="50"
                [(ngModel)]="'$ ' + _storage.state.wizard4.presupuesto"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BOTONERA -->
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        <i class="fa fa-pencil edit-wizard vh" aria-hidden="true" ></i>

      <div class="row mt-4 mx-0">

        <div class="col-lg-4 pl-0 pr-1">
          <button
            type="button"
            class="btn btn-lg btn-rombus d-block ml-auto w-100"
            style="padding: 0.8rem 2rem; background-color: #888585;"
          >
            Guardar borrador
          </button>
        </div>
        <div class="col-lg-4 pl-0">
          <button
            (click)="terminar()"
            type="button"
            class="btn btn-lg btn-rombus d-block ml-auto w-100"
            style="padding: 0.8rem 2rem; background-color: #2c3e50;"
          >
            Cerrar Proyecto
          </button>
        </div>
        <div class="col-lg-4">
            
          <button
            (click)="terminar()"
            type="button"
            class="btn btn-lg btn-rombus d-block ml-auto w-100"
            style="padding: 0.8rem 2rem; background-color: #f39a18;"
          >
            ¡ENVIAR AHORA!
          </button>
        </div>
      </div>
    </div>
</div>
