/* General */
* {
  overflow-x: hidden;
}

body {
  background-color: #f2f2f2;
}

.cursor {
  cursor: pointer;
}

/* Navbar */
.navbar-rombus > .navbar-nav > .nav-item,
button {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.7px;
  margin-bottom: auto !important;
  margin-top: auto !important;
  margin-left: 10px;
}

.bg-rombus {
  background-color: #123a40;
}


/* Wizard Step */
.step {
  position: relative;
  border-radius: 50%;
  background-color: #00a2c2;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.step-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.title-step {
  font-size: 24px;
  color: #07a0c0;
  text-transform: uppercase;
}

/* Wizard */
.title {
  font-weight: 300;
  font-size: 40px;
}

.sub-title {
  font-weight: 300;
  font-size: 20px;
}

.sub-title-2 {
  font-weight: 300;
  font-size: 16px;
}

.sub-title-3 {
  font-weight: 600;
  font-size: 15px;
}

.text-file {
  color: #050505;
  font-weight: 600;
  font-size: 18px;
}

.text-file-view {
  color: #050505;
  font-weight: 600;
  font-size: 16px;
}

.text-color-r1{
  color: #00a2c2;
}

.text-color-r2{
  color: #24a4b4;
}

.text-color-r3 {
  color: #464646;
}

.card {
  font-weight: 600;
  border-radius: 2px;
}

.card-esp {
  border: 0px;
  height: 170px;
}

.card-rom-2 {
  border: 0px;
  height: 70px;
}

.card-rom-3 {
  border: 0px;
  height: 140px;
}

.card-active {
  background-color: #d01d00;
  transition: 0.2s ease-in;
}

.content-center {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.shadow {
  -webkit-box-shadow: 0px 0px 36px -12px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 0px 36px -12px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 36px -12px rgba(0, 0, 0, 0.82);
}

.border-categoria {
  border-right: 1px solid #f2f2f2;
  padding-right: 0;
}

/* Formulario */
.form-control {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 1.775rem 1.5rem;
  font-size: 22px;
  font-weight: 500;
}

.form-control-contact {
  border-radius: 0;
  border: 1px solid #fff;
  padding: .375rem .5rem;
  font-size: 14px;
  width: 100%;
  /* font-weight: 500; */
}

.form-group > label {
  font-weight: 300;
  font-size: 20px;
}

.input-file{
  width: 100%;
  height: 207px;
  /* background-color: #fff; */
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid #24a4b4;
  border-style: dashed;
  overflow-y: hidden;
}

.input-file-view{
  width: 100%;
  height: 207px;
}

.box-file{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 207px;
  color: #0782d0;
}

.ngx-file-drop__content {
  height: 201px !important;
  cursor: pointer;
}

/* List */
.list-group-flush > .list-group-item {
  border-width: 0 0 0px;
  padding: 0.25rem 1.25rem;
}

/* Buttons */
.btn-nav-rombus {
  color: #fff;
  border-radius: 50px;
  border: solid 1px #fff;
  background-color: #24a4b4;
}

.btn-nav-rombus:hover {
  color: #fff;
  background-color: #177380;
}

.btn-rombus:hover {
  color: #fff;
  background-color: #24a4b4;
}

.btn-rombus-input:hover {
  color: #fff;
  background-color: #4a4a4a;
}

.btn-rombus {
  padding: .8rem 5rem;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 0px;
  background-color: #00a2c2;
}

.btn-rombus-input {
  padding: .8rem 1.4rem;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0px;
  background-color: #666666;
}

.btn-tag {
  width: 100%;
  padding: .375rem 1.75rem;
  color: #fff;
  font-weight: 300;
  text-transform: none;
  border-radius: 0px;
  background-color: #dc3545;
  border: 0px;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}

.btn-tag:hover{
  background-color: #dc3545;
  color: #fff;
}


/* Badge */
.badge{
  position: relative;
  font-size: 24px;
  color: #c4c4c3;
  cursor: pointer;
}

.badge[data-count]:after{
  position:absolute;
  left:0%;
  top:1%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:50%;
  line-height:.75em;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  font-weight:bold;
}

/* Footer */
footer{
  margin-left: -5px;
  position: fixed;
  left:0px;
  bottom:5px;
}
.credit{
  border-radius: 3px;
  background-color: #2c3e50;
  color: #fff;
}





