<div class="container-fluid" *ngIf="presentaciones">
  <div class="title mb-3">
    Define la modalidad de atención profesional
  </div>
  <div class="sub-title mb-3">
    Elige con quién quieres resolver el trabajo
  </div>

  <!-- #####  SERVICIOS  ##### -->
  <div class="row mb-3">
    <div *ngFor="let e of presentaciones" class="col-md-3">
      <div class="card card-esp shadow mb-4 mt-3">
        <div
          class="card-body cursor text-center"
          (click)="seleccionarPresentacion(e)"
          [ngClass]="{
            'card-active text-white': presentacion.titulo == e.titulo,
            'text-color-r3': presentacion.titulo != e.titulo
          }"
          [ngStyle]="{
            'background-color': presentacion.titulo == e.titulo ? e.color : ''
          }"
        >
          <div class="content-center">
            <i [class]="'fa ' + e.icon + ' fa-2x'" aria-hidden="true"></i>
            <span class="d-block">{{ e.titulo }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tipo Presentacion -->
  <div *ngIf="presentacion">
    <div [ngSwitch]="presentacion.id">
      <!-- Un profesional individual  -->
      <app-profesional
        *ngSwitchCase="1"
        class="_animate__animated animate__fadeIn"
        [presentacion]="presentacion"
        [tipoProyecto]="tipoProyecto"
        [nivel]="nivel"
        (obtenerTipoProyecto)="tipoProyecto = $event"
        (obtenerNivel)="nivel = $event"
      >
      </app-profesional>

      <!-- Project manager y equipo  -->
      <app-project-manager
        *ngSwitchCase="2"
        class="animate__animated animate__fadeIn"
        [presentacion]="presentacion"
        [tipoProyecto]="tipoProyecto"
        [plazo]="plazo"
        (obtenerTipoProyecto)="tipoProyecto = $event"
        (obtenerPlazo)="plazo = $event"
      ></app-project-manager>

      <!-- Rombus Ciudad / cercana a mi ubicación  -->
      <app-rombus-ciudad
        *ngSwitchCase="3"
        class="animate__animated animate__fadeIn"
        [presentacion]="presentacion"
        [formulario]="formularioContacto"
      ></app-rombus-ciudad>

      <!-- Rombus Central / atención corporativa  -->
      <app-rombus-central
        *ngSwitchCase="4"
        class="animate__animated animate__fadeIn"
        [presentacion]="presentacion"
        [formulario]="formularioContacto"
      ></app-rombus-central>
    </div>

    <!-- Rango precio presupuesto -->
    <app-rango-precio
      *ngIf="presentacion.titulo"
      [presupuesto]="presupuesto"
      (obtenerPresupuesto)="presupuesto = $event"
      class="animate__animated animate__fadeIn"
    ></app-rango-precio>
  </div>

  <!-- Botón enviar-->
  <div class="form-group mt-5">
    <button
      type="button"
      (click)="guardarWizard()"
      class="btn btn-lg btn-rombus d-block ml-auto"
      style="padding: 0.8rem 2rem;"
    >
      ¡Terminado! ir a Resúmen
    </button>
  </div>
</div>
